@using ERP.DataAccess.DTOs.BankBranch
@using ERP.DataAccess.Domains
@using ERP.Utility.ViewModels
@model BankBranch
@{
    ViewData["Title"] = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bankList = (List<Bank>)ViewBag.BankList;
    var bankBranchList = (List<BankNBranchDto>)ViewBag.BankBranchList;
}

<style type="text/css">
    .row {
        margin-top: 10px !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Bank Branch</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="BasicSetup" asp-action="SaveBranch">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <select class="form-select" asp-for="BankId" id="cmbBank">
                                    <option value="0">select Bank</option>
                                    @foreach (var b in bankList)
                                    {
                                        <option value="@b.ID">@b.BankName</option>
                                    }
                                </select>
                                <label for="cmbBank">Bank Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="BranchName" id="txtBranchName" placeholder="Branch Name">
                                <label for="txtBranchName">Branch Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="RoutingNo" id="txtRoutingNo" placeholder="Routing No">
                                <label for="txtRoutingNo">Routing No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" id="btnSubmit" class="btn btn-light-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Bank Branch List</h5>
                <small></small>
            </div>
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="autofill" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th class="text-center">Bank Name</th>
                                <th class="text-center">Branch Name</th>
                                <th class="text-center">Routing No</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblBankBranch">
                            @if (bankBranchList.Any())
                            {
                                @foreach (var bnk in bankBranchList)
                                {
                                    <tr>
                                        <td class="text-center">@bnk.BankName</td>
                                        <td class="text-center">@bnk.BranchName</td>
                                        <td class="text-center">@bnk.RoutingNo</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="@bnk.Id"><i class="ti ti-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" class="text-center">No records found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //GetBankBranchList();
            $("#btnSubmit").on("click", function (e) {
                e.preventDefault();

                var isValid = true;
                
                function validateField(selector) {
                    var inputField = $(selector);
                    var value = inputField.val()?.trim() || "";
                    var isDropdown = inputField.is("select");

                    if (value === "" || value === "0" || (isDropdown && value === "0")) {
                        inputField.addClass("is-invalid").removeClass("is-valid");
                        isValid = false;
                    } else {
                        inputField.addClass("is-valid").removeClass("is-invalid");
                    }
                }

                validateField("#cmbBank", "Please select bank");
                validateField("#txtBranchName", "Please enter branch name");
                validateField("#txtRoutingNo", "Please enter routing no");


                if (!isValid) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please fill in all required fields."
                    });
                } else {
                    $("form").submit();
                }
            });

            $("input").on("input", function () {
                $(this).removeClass("is-invalid").addClass("is-valid");
            });

            $(document).on('click', ".delete-btn", function () {
                var Id = $(this).attr("data-id");
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you really want to delete this branch? This action cannot be undone.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "Cancel"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/BasicSetup/DeleteBranchById?id=" + Id,
                            type: "GET",
                            success: function (response) {
                                if (response && response.status === true) {
                                    Swal.fire("Deleted!", response.message, "success").then(() => {
                                       window.location.reload();
                                    });
                                } else {
                                    Swal.fire("Error!", "Failed to delete the branch.", "error");
                                }
                            },
                            error: function () {
                                Swal.fire("Error!", "Something went wrong. Please try again.", "error");
                            }
                        });
                    }
                });
            });
        });
        // function GetBankBranchList(){
        //     $("#tblBankBranch").html("");
        //     $.ajax({
        //         url: "/Home/GetBankBranchList",
        //         type: "GET",
        //         success: function (response) {
        //             if (response && response.status === true) {
        //                 var html ="";
        //                 $.each(response.dataList, function(i,d){
        //                     html += '<tr>';
        //                     html += '<td class="text-center">'+d.bankName+'</td>';
        //                     html += '<td class="text-center">'+d.branchName+'</td>';
        //                     html += '<td class="text-center">'+d.routingNo+'</td>';
        //                     html += '<td class="text-center"><a class="btn btn-sm btn-danger delete-btn" data-id="'+d.id+'"><i class="ti ti-archive"></i></a></td>';
        //                     html += '</tr>';
        //                 });
        //                 $("#tblBankBranch").html(html);
        //             } else {
        //                 Swal.fire("Error!", "Failed to load data.", "error");
        //             }
        //         },
        //         error: function () {
        //             Swal.fire("Error!", "Something went wrong. Please try again.", "error");
        //         }
        //     });
        //}
    </script>
}
