@using ERP.DataAccess.Domains
@using ERP.Utility.ViewModels
@model OrganizationViewModel
@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .row {
        margin-top: 10px !important;
    }

    .card {
        border: 1px solid #1890ff !important;
        border-radius: var(--bs-card-border-radius);
        box-shadow: var(--bs-card-box-shadow);
    }

        .card .card-header {
            border-bottom: 1px solid #1890ff !important;
        }

    table.table-bordered.dataTable thead tr:first-child th, table.table-bordered.dataTable thead tr:first-child {
        border: 1px solid #1890ff !important;
    }

    .table > tbody {
        border: 11px solid #1890ff !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Organization</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="BasicSetup" asp-action="SaveOrganization">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="Organization.OrganizatioName" id="txtOrganizationName" placeholder="Organization Name">
                                <label for="txtOrganizationName">Oraganization Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="Organization.OwnerName" id="txtOwnerName" placeholder="Owner Name">
                                <label for="txtOwnerName">Owner Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="Organization.TinNumber" id="txtTinNumber" placeholder="TIN Number">
                                <label for="txtTinNumber">TIN Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="Organization.MobileNo" id="txtMobileNo" placeholder="Mobile No">
                                <label for="txtMobileNo">Mobile No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <input type="text" class="form-control" asp-for="Organization.WebsiteAddress" id="txtCompanyWebsite" placeholder="Company Website">
                                <label for="txtCompanyWebsite">Company Website</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-0">
                                <textarea class="form-control" rows="3" asp-for="Organization.OrganizationAddress" id="txtCompanyAddress"></textarea>
                                <label for="txtCompanyAddress">Company Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" id="btnSubmit" class="btn btn-light-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Organization List</h5>
                <small></small>
            </div>
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="autofill" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Organization Name</th>
                                <th>Owner Name</th>
                                <th>TIN No</th>
                                <th>Mobile No</th>
                                <th>Company Website</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.OrganizationList.Any())
                            {
                                @foreach (var org in Model.OrganizationList)
                                {
                                    <tr>
                                        <td>@org.OrganizatioName</td>
                                        <td>@org.OwnerName</td>
                                        <td>@org.TinNumber</td>
                                        <td>@org.MobileNo</td>
                                        <td>@org.WebsiteAddress</td>
                                        <td class="text-center">
                                            @* <button class="btn btn-sm btn-warning edit-btn"  data-id="@org.ID"><i class="ti ti-edit"></i></button> *@
                                            <button class="btn btn-sm btn-danger delete-btn" data-id="@org.ID"><i class="ti ti-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No records found.</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/assets/js/Jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").on("click", function (e) {
            e.preventDefault();

            var isValid = true;

            function validateField(selector, message) {
                var inputField = $(selector);
                var value = inputField.val().trim();

                if (value === "") {
                    inputField.addClass("is-invalid").removeClass("is-valid");
                    isValid = false;
                } else {
                    inputField.addClass("is-valid").removeClass("is-invalid");
                }
            }

            validateField("#txtOrganizationName", "Please enter company name");
            validateField("#txtOwnerName", "Please enter owner name");
            validateField("#txtMobileNo", "Please enter mobile no");
            validateField("#txtTinNumber", "Please enter TIN No.");
            validateField("#txtCompanyAddress", "Please enter Company Address.");


            if (!isValid) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Please fill in all required fields."
                });
            } else {
                $("form").submit();
            }
        });

        $("input").on("input", function () {
            $(this).removeClass("is-invalid").addClass("is-valid");
        });

        $(document).on('click', ".delete-btn", function () {
            var Id = $(this).attr("data-id");
            Swal.fire({
                title: "Are you sure?",
                text: "Do you really want to delete this organization? This action cannot be undone.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "Cancel"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/BasicSetup/DeleteOrganizationById?id=" + Id,
                        type: "GET",
                        success: function (response) {
                            if (response && response.status === true) {
                                Swal.fire("Deleted!", response.message, "success").then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Error!", "Failed to delete the organization.", "error");
                            }
                        },
                        error: function () {
                            Swal.fire("Error!", "Something went wrong. Please try again.", "error");
                        }
                    });
                }
            });
        });

    });
</script>

