@inject IConfiguration configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP.WEB</title>
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon"> <!-- [Google Font] Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css">
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="~/assets/fonts/feather.css">
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css">
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="~/assets/fonts/material.css">
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/assets/css/style-preset.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css">
        .pc-footer {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 -6px 12px 0 rgba(0, 0, 0, 0.02);
        }
    </style>
</head>
@{
    string controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    string actionName = ViewContext.RouteData.Values["action"]?.ToString();
    string appUrl = configuration["ApplicationURL:AppURL"];
}
<body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">

    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Sidebar Menu ] start -->
    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="~/dashboard/index.html" class="b-brand text-primary">
                    <img src="~/assets/images/logo-dark.svg" class="img-fluid logo-lg" alt="logo">
                </a>
            </div>
            <div class="navbar-content">
                <ul class="pc-navbar">
                    <li class="pc-item">
                        <a href="../dashboard/index.html" class="pc-link">
                            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                            <span class="pc-mtext">Dashboard</span>
                        </a>
                        <hr />
                    </li>
                    <li class="pc-item pc-caption">
                        <label>Basic Setup</label>
                        <i class="ti ti-news"></i>
                    </li>
                    <li class="pc-item">
                        <a asp-action="Organization" asp-controller="Home" class="pc-link">
                            <span class="pc-micon"><i class="fa-solid fa-building"></i></span>
                            <span class="pc-mtext">Organization</span>
                        </a>
                    </li>
                    <li class="pc-item pc-caption">
                        <label>Authenticatios</label>
                        <i class="ti ti-news"></i>
                    </li>
                    <li class="pc-item">
                        <a asp-action="Registration" asp-controller="Authentication" class="pc-link">
                            <span class="pc-micon"><i class="ti ti-user-plus"></i></span>
                            <span class="pc-mtext">Registration</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
    <header class="pc-header">
        <div class="header-wrapper">
            <!-- [Mobile Media Block] start -->
            <div class="me-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <!-- ======= Menu collapse Icon ===== -->
                    <li class="pc-h-item pc-sidebar-collapse">
                        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup">
                        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="dropdown pc-h-item d-inline-flex d-md-none">
                        <a class="pc-head-link dropdown-toggle arrow-none m-0"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           aria-expanded="false">
                            <i class="ti ti-search"></i>
                        </a>
                        <div class="dropdown-menu pc-h-dropdown drp-search">
                            <form class="px-3">
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <i data-feather="search"></i>
                                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- [Mobile Media Block end] -->
            <div class="ms-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           aria-expanded="false">
                            <i class="ti ti-mail"></i>
                        </a>
                        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-header d-flex align-items-center justify-content-between">
                                <h5 class="m-0">Message</h5>
                                <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-x text-danger"></i></a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
                                <div class="list-group list-group-flush w-100">
                                    <a class="list-group-item list-group-item-action">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="~/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                                            </div>
                                            <div class="flex-grow-1 ms-1">
                                                <span class="float-end text-muted">3:00 AM</span>
                                                <p class="text-body mb-1">It's <b>Cristina danny's</b> birthday today.</p>
                                                <span class="text-muted">2 min ago</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="../assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar">
                                            </div>
                                            <div class="flex-grow-1 ms-1">
                                                <span class="float-end text-muted">6:00 PM</span>
                                                <p class="text-body mb-1"><b>Aida Burg</b> commented your post.</p>
                                                <span class="text-muted">5 August</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="~/assets/images/user/avatar-3.jpg" alt="user-image" class="user-avtar">
                                            </div>
                                            <div class="flex-grow-1 ms-1">
                                                <span class="float-end text-muted">2:45 PM</span>
                                                <p class="text-body mb-1"><b>There was a failure to your setup.</b></p>
                                                <span class="text-muted">7 hours ago</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="~/assets/images/user/avatar-4.jpg" alt="user-image" class="user-avtar">
                                            </div>
                                            <div class="flex-grow-1 ms-1">
                                                <span class="float-end text-muted">9:10 PM</span>
                                                <p class="text-body mb-1"><b>Cristina Danny </b> invited to join <b> Meeting.</b></p>
                                                <span class="text-muted">Daily scrum meeting time</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="text-center py-2">
                                <a href="#!" class="link-primary">View all</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item header-user-profile">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           data-bs-auto-close="outside"
                           aria-expanded="false">
                            <img src="" alt="user-image" class="user-avtar profilePicture">
                            <span class="userName"></span>
                        </a>
                        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-header">
                                <div class="d-flex mb-1">
                                    <div class="flex-shrink-0">
                                        <img src="" alt="user-image" class="user-avtar wid-35 profilePicture">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-1 userName"></h6>
                                        <span id="jobTitle"></span>
                                    </div>
                                    <a href="#!" id="btnLogOut" data-id="" class="pc-head-link bg-transparent"><i class="ti ti-power text-danger"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            @* <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard</h5>
                            </div> *@
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">Firoz Enterprise</li>
                                <li class="breadcrumb-item"><a href="">@controllerName</a></li>
                                <li class="breadcrumb-item" aria-current="page">@actionName</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <!-- [ Partial View ] start -->
            <partial name="_SweetAlertPartial"></partial>
            <partial name="_ValidationScriptsPartial"></partial>
            <!-- [ Partial View ] End -->
            @RenderBody()
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <footer class="pc-footer">
        <div class="footer-wrapper container-fluid">
            <div class="row">
                <div class="col-sm my-1">
                    <p class="m-0">Copyright ©Joy - @DateTime.UtcNow</p>
                </div>
                @* <div class="col-auto my-1">
                    <ul class="list-inline footer-link mb-0">
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Contact us</a></li>
                    </ul>
                </div> *@
            </div>
        </div>
    </footer>
    <!-- Required Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/pcoded.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>
    <script type="text/javascript">
        var url = '@Html.Raw(appUrl)';
        $(document).ready(function () {
            // Function to get the JWT token from cookies
            function getJwtToken() {
                const cookie = document.cookie.split('; ').find(row => row.startsWith('jwtToken='));
                if (cookie) {
                    return cookie.split('=')[1];
                } else {
                    return ;
                }
            }
            function getLoggedInUser() {
                var token = getJwtToken();
                    if (!token) {
                        console.error('JWT Token not found in cookies.');
                        //window.location.href = '/Authentication/Login';
                        return;
                    }
                $.ajax({
                    url: '/Authentication/GetJwtToken',
                    type: 'GET',
                    success: function (response) {
                        //console.log('JWT Token:', response.token);
                        $.ajax({
                            url: '/Authentication/GetLoggedInUserByToken',
                            type: 'GET',
                            data: { token: response.token },
                            success: function (userResponse) {
                                $(".userName").html(userResponse.user.fullName);
                                $("#jobTitle").html(userResponse.user.jobTitle);
                                $("#btnLogOut").attr("data-id",userResponse.user.id);
                                if (userResponse.user.profilePicturePath) {
                                    $(".profilePicture").attr("src", url + userResponse.user.profilePicturePath);
                                } else {
                                    $(".profilePicture").attr("src", url + "/assets/images/user/avatar-2.jpg");
                                }
                            },
                            error: function (error) {
                                console.error('Error retrieving user:', error);
                            }
                        });
                    },
                    error: function (error) {
                        console.error('Error fetching JWT Token:', error);
                    }
                });
            }
            $(document).on('click',"#btnLogOut",function(){
                var id = $(this).attr("data-id");
                var formData = new FormData();
                formData.append("id",id);
                $.ajax({
                    url: '@Url.Action("Logout", "Authentication")',
                    type: 'POST',
                    data : formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response);
                        if (response.status == true) {
                            Swal.fire({
                                title: "Logged Out!",
                                text: response.message,
                                icon: "success",
                                timer: 2000,
                                showConfirmButton: false
                            }).then(() => {
                                window.location.href = "/Authentication/Login";
                            });
                        } else {
                            Swal.fire({
                                title: "Logout Failed!",
                                text: response.message,
                                icon: "error",
                                confirmButtonText: "OK"
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: "Logout Failed!",
                            text: "Something went wrong. Please try again.",
                            icon: "error",
                            confirmButtonText: "OK"
                        });
                    }
                });
            });
          getLoggedInUser();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>